.register-hero{
    background-color: #FBECE7;

  }
  .hero-grey{
    /* background-image: linear-gradient(to right bottom, #9a9a9a, #848484, #6f6f6f, #5a5a5a, #464646, #3b3b3b, #303030, #252525, #1f1f1f, #191919, #141414, #0c0c0c); */
    /* background-color: #141414; */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  .topline{
    height: 5px;
    background-color: #0e1776;
    margin-bottom: 0.5rem;
    width: 40%;
  }
  input:focus{
    border-color: 0e1776 !important;
  }
  .error-block{
    color: tomato;
    margin-bottom: 0.3rem;
  }
  .login-logo{
    height: 165px;
  }